// These colors are specific to the theme. Do not use in a package!

// Colour names from: http://chir.ag/projects/name-that-color/

@very-light-gray: #EEEEEE;
@lighter-gray: #D4D4D4;
@light-gray: #C8C8C8;
@gray: #888888;
@darkish-gray: #7C7C7C;
@dark-gray: #444444;
@darker-gray: #2E2E2E;
@very-dark-gray: #1D1F21;
@black: #000000;


@flat-blue: #8CA1FE;
@flat-green: #2CCC6C;
@flat-orange: #E9C062;
@flat-red: #CC6666;

@light-blue: #98A8FF;
@light-green: #99CC99;
@vibrant-blue: #2995FF;
@lavender: #FB9FE3;
@yellow: #FFFD44;
@light-yellow: lighten(@yellow, 10%);
@portafino: #0af00c;
@orange: #FCC536;
@red: #F15D5D;
@purple: #c066cf;
@teal: #3CC2C2;
//@light-brown: rgb(128, 77, 31)

@comment-green: #339d19;
@constant-orange: #c36317;
@preprocess-red: #ec0000;
